body{
    background-color: #222222;
    color: white;
    font-family: 'Times New Roman', Times, serif; 
    text-align: center;
    margin: 0;
    font-size: medium;
}

h1{
    font-size: 150% ;
}

.TopBar{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 46px;
    overflow: auto;
    background-color: #333333;
}

.TopBar a {
    float: left;
    display: block;
    text-align: center;
    padding: 14px 20px;
    color: white;
    text-decoration: none;
}

.TopBar .current {
    background-color: gray;
}

.TopBar a:hover {
    color: white;
    text-decoration: none;
    background-color: darkgray;
}

.TopBar .Battery {
    float: right;
}

.InfoWidget{
    background-color: gray;
    float: right;
    border-style: outset;
    border-color: darkgray;
    border-width: 10px;
    margin-top: 50px;
    margin-right: 15px;
}

.InfoWidget h2 {
    margin-left: 10px;
    margin-right: 10px;
    text-align: left;
}

.QuickActionsWidget {
    background-color: rgb(37, 37, 37);
    float: left;
    border-style: outset;
    border-color: darkgray;
    border-width: 10px;
    margin-top: 50px;
    margin-left: 15px ;
    display: block;
    color: white;
}

.QuickActionsWidget h2 {
    margin-left: 10px;
    margin-right: 10px;
    text-align: middle;
    margin-left: 5px;
    margin-right: 5px;

}

.HeroWidget {
    background-color: black;
    float: left;
    border-style: outset;
    border-color: darkgray;
    border-width: 10px;
    margin-top: 50px;
    margin-left: 15px ;
    display: block;
    color: green;
}

.HeroWidget dev {
    margin-left: 10px;
    margin-right: 10px;
    text-align: left;
    font-size: 20px;
}

.HeroWidget .AssciiArt {
    color: #00ff00;
    font-size: 11px;
    text-shadow: 0 0 10px rgba(0, 255, 0, 0.5);
    white-space: pre;
    overflow-x: auto;
    margin-right:  40px;
    margin-left: 5px;
}

.HeroWidget .AssciiArt h2 {
    text-align: left;
}

.NormalActions {
    background-color: rgb(37, 37, 37);
    float: left;
    border-style: outset;
    border-color: darkgray;
    border-width: 10px;
    margin-top: 50px;
    margin-left: 15px ;
    display: block;
    color: white;
}

.NormalActions h2 {
    margin-left: 10px;
    margin-right: 10px;
    text-align: middle;
    margin-left: 5px;
    margin-right: 5px;

}